:root {
    --primary-height: 51px;
    --primary-width: 358px;
    --primary-cell-height: 48px;
}
.drusjs-calendar {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* background-color: #F1F1F1; */
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    max-width: 722px;
    gap: 5px;
}

.drusjs-calendar .disabled {
    pointer-events: none;
}
.drusjs-calendar .disabled-hide {
    pointer-events: none;
    /* opacity: .5; */
}

/*Удалить*/
.drusjs-calendar {
    margin: 20px auto 0;
    /* padding: 50px;
    max-width: 822px; */
}
/*Удалить*/

.drusjs-calendar .calendar {
    box-sizing: border-box;
    width: var(--primary-width);
    display: flex;
    flex-direction: column;
    font-size: 19px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
}

.drusjs-calendar .calendar-main {
    box-sizing: border-box;
    width: 100%; 
    max-width: var(--primary-width);   
    height: var(--primary-height);
    display: flex;
    gap: 4px;
    cursor: pointer;
    border: 0.5px solid #969FA8;
    padding: 5px;
    font-size: 19px;
    text-transform: uppercase;
    background-color: #F6F6F6;
}
.drusjs-calendar .calendar-main-inner {
    box-sizing: border-box;
    background-color: transparent;
    padding: 0px 0px 0px 23px;
    width: 100%;
    height: 41px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: right 28px top 8px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.9702 3.4856H16.3704V2.3714C16.3704 2.2729 16.3313 2.17843 16.2617 2.10878C16.192 2.03913 16.0975 2 15.999 2C15.9005 2 15.8061 2.03913 15.7364 2.10878C15.6668 2.17843 15.6276 2.2729 15.6276 2.3714V3.4856H7.45681V2.3714C7.45681 2.2729 7.41768 2.17843 7.34803 2.10878C7.27838 2.03913 7.18391 2 7.08541 2C6.98691 2 6.89244 2.03913 6.82279 2.10878C6.75314 2.17843 6.71401 2.2729 6.71401 2.3714V3.4856H4.1142C3.8187 3.4856 3.5353 3.60299 3.32634 3.81194C3.11739 4.02089 3 4.3043 3 4.5998V19.4558C3 19.7513 3.11739 20.0347 3.32634 20.2437C3.5353 20.4526 3.8187 20.57 4.1142 20.57H18.9702C19.2657 20.57 19.5491 20.4526 19.7581 20.2437C19.9671 20.0347 20.0844 19.7513 20.0844 19.4558V4.5998C20.0844 4.3043 19.9671 4.02089 19.7581 3.81194C19.5491 3.60299 19.2657 3.4856 18.9702 3.4856ZM4.1142 4.2284H6.71401V5.3426C6.71401 5.4411 6.75314 5.53557 6.82279 5.60522C6.89244 5.67487 6.98691 5.714 7.08541 5.714C7.18391 5.714 7.27838 5.67487 7.34803 5.60522C7.41768 5.53557 7.45681 5.4411 7.45681 5.3426V4.2284H15.6276V5.3426C15.6276 5.4411 15.6668 5.53557 15.7364 5.60522C15.8061 5.67487 15.9005 5.714 15.999 5.714C16.0975 5.714 16.192 5.67487 16.2617 5.60522C16.3313 5.53557 16.3704 5.4411 16.3704 5.3426V4.2284H18.9702C19.0687 4.2284 19.1632 4.26753 19.2329 4.33718C19.3025 4.40683 19.3416 4.5013 19.3416 4.5998V7.9424H3.7428V4.5998C3.7428 4.5013 3.78193 4.40683 3.85158 4.33718C3.92123 4.26753 4.0157 4.2284 4.1142 4.2284ZM18.9702 19.8272H4.1142C4.0157 19.8272 3.92123 19.7881 3.85158 19.7184C3.78193 19.6488 3.7428 19.5543 3.7428 19.4558V8.6852H19.3416V19.4558C19.3416 19.5543 19.3025 19.6488 19.2329 19.7184C19.1632 19.7881 19.0687 19.8272 18.9702 19.8272Z' fill='black'/%3E%3C/svg%3E%0A");
}
.drusjs-calendar .calendar-main__text {
    box-sizing: border-box;
    font-weight: 300;
    white-space: nowrap;
    color: #434C4E;
    margin-right: 4px;
}
.drusjs-calendar .input {
    box-sizing: border-box;
    background-color: transparent;
    font-size: 19px;
    padding: 0;
    height: fit-content;
    border: none;
    text-align: center;
    outline: none;
    pointer-events: none;
}
.drusjs-calendar .calendar.active .input {
    pointer-events: auto;
}
.drusjs-calendar .input.day {
    width: 28px;
}
.drusjs-calendar .input.month {
    width: 31px;
}
.drusjs-calendar .input.year {
    width: 42px;
}
.drusjs-calendar .input::placeholder {
    color: #B2B4B4;
}
.drusjs-calendar .complete-date {
    display: none;
}
.drusjs-calendar .clear-button {
    box-sizing: border-box;
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 34px;
    min-width: 34px;
    height: 41px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
}
.drusjs-calendar .clear-button path {
    transition: 200ms ease-in-out;
}
.drusjs-calendar .clear-button .tooltip {
    box-sizing: border-box;
    width: 180px;
    height: 44px;
    pointer-events: none;
    position: absolute;
    opacity: 0;
    transition: 200ms ease-in-out;
    color: #434C4E;
    font-size: 19px;
    text-align: center;
    line-height: 44px;
    background-color: #D4F6FF;
    border: 1px solid #2879FF;
    text-transform: none;
    top: 50px;
}

.drusjs-calendar .clear-button .tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #D4F6FF transparent;
}
.drusjs-calendar .clear-button .tooltip::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: calc(50% - 0.5px);
    margin-left: -10px;
    border-width: 11px;
    border-style: solid;
    border-color: transparent transparent #2879FF transparent;
}

.drusjs-calendar .calendar-select {    
    background-color: #FFFFFF;
    position: relative;
}

.drusjs-calendar .calendar-select-head {
    box-sizing: border-box;
    width: 100%;
    max-width: var(--primary-width);
    height: var(--primary-height);
    border: 0.5px solid #969FA8;
    border-top: none;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 11px 6px;
}
.drusjs-calendar .calendar-select-head.none-select .calendar-select-swap {
    pointer-events: none;
}
.drusjs-calendar .calendar-select-head.none-active {
    pointer-events: none;
}
.calendar-search-select {
    position: absolute;
    top: 0;
    width: var(--primary-width);
    height: var(--primary-height);
    border: 0.5px solid #969FA8;
    background-color: #FFF;
    border-top: none;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    box-sizing: border-box;
    display: none;
    pointer-events: none;
}
.calendar-search-select .input-search {
    text-align: center;
    font-size: 19px;
    color: #2879FF;
    border: none;
    outline: none;
}
.calendar-select.active .calendar-search-select {
    display: flex;
    pointer-events: auto;
    z-index: 10;
}
.drusjs-calendar .calendar-select-swap {
    box-sizing: border-box;
    width: 29px;
    height: 29px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.drusjs-calendar .calendar-select-swap::before {
    box-sizing: border-box;
    content: '';
    width: 29px;
    height: 29px;
    display: block;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.drusjs-calendar .calendar-select-swap.left::before {
    transform: rotate(-90deg);
}
.drusjs-calendar .calendar-select-swap.right::before {
    transform: rotate(90deg);
}

.drusjs-calendar .calendar-select-value {
    box-sizing: border-box;
    color: #2961FE;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.drusjs-calendar .calendar-select-value::after {
    box-sizing: border-box;
    content: '';
    width: 29px;
    height: 29px;
    display: block;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transform: rotate(180deg);
}
.drusjs-calendar .calendar-select.year-select .calendar-select-value::after {
    display: none;
}
.drusjs-calendar .calendar-select.active .calendar-select-value::after {
    transform: rotate(0deg);
}

.calendar-select-dropdown {
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    max-width: var(--primary-width);
    max-height: 305px;
    min-height: var(--primary-height);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: 1;
    border-bottom: 0.5px solid #969FA8;
    top: var(--primary-height);
    display: none;
}
.calendar-select-dropdown::-webkit-scrollbar {
    display: none;
}

.drusjs-calendar .calendar-select.active .calendar-select-dropdown {
    display: block;
}
.drusjs-calendar .calendar-select.year-select.active .calendar-select-dropdown {
    display: grid;
}
.year-select .calendar-select-dropdown {
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    max-width: var(--primary-width);
    max-height: 305px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: 1;
    border: 0.5px solid #969FA8;
    box-sizing: border-box;
    border-top: none;
    top: var(--primary-height);
    display: none;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    gap: 5px;
}
.drusjs-calendar .calendar-select-dropdown__item {
    box-sizing: border-box;
    color: #2961FE;
    width: 100%;
    max-width: var(--primary-width);
    height: var(--primary-height);    
    border: 0.5px solid #969FA8;
    border-top: none;
    text-align: center;
    line-height: var(--primary-height);
    cursor: pointer;
}

.drusjs-calendar .year-select .calendar-select-dropdown__item {
    box-sizing: border-box;
    width: 100%;
    height: var(--primary-height);
    max-height: 51px;
    padding: 10px;   
    border: 0.5px solid #000000;
    color: #000000;
    text-align: center;
    line-height: 29px;
    cursor: pointer;
}

.drusjs-calendar .calendar-table {
    box-sizing: border-box;
    display: none;
    width: 100%;
    max-width: var(--primary-width);
    border-collapse: collapse;
    background-color: #FFFFFF;
    border: 0.5px solid #969FA8;
    border-top: none;
}
.drusjs-calendar .calendar-table-overflow {
    max-height: calc(100vh - 370px);
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.drusjs-calendar .calendar-table-overflow::-webkit-scrollbar {
    display: none50}
.drusjs-calendar .calendar-table-cell {
    box-sizing: border-box;
    min-width: var(--primary-height);
    height: var(--primary-height);
    color: #6CA3FE;
    background-color: #F6F6F6;
    text-align: center;
    line-height: var(--primary-cell-height);
    border: 0.5px solid #969FA8;
    cursor: pointer;
}
.drusjs-calendar th.calendar-table-cell {
    background-color: #FFFFFF;
    color: #000000;
    font-weight: 400;
    cursor: default;
    border-top: none;
}
.drusjs-calendar .calendar-table-cell.active {
    background-color: #2879FF;
    color: #FFFFFF;
}
.drusjs-calendar .calendar-table-cell.path {
    background-color: #D4F6FF;
    color: #2961FE;
}
.drusjs-calendar .calendar-table-cell.empty {
    border: none;
    background-color: #FFFFFF;
    cursor: default;
}
.drusjs-calendar .calendar.complete .calendar-main,
.drusjs-calendar .calendar.active .calendar-main,
.drusjs-calendar .calendar.active .calendar-main-inner {
    background-color: #FFFFFF;
}
.drusjs-calendar .calendar.active .calendar-select-head,
.drusjs-calendar .calendar.active ~ .calendar-action-bar {
    display: flex;
}

.drusjs-calendar .calendar.active .calendar-table {
    display: table;
}

.drusjs-calendar .calendar.complete .calendar-main-inner,
.drusjs-calendar .calendar.complete .clear-button {
    background-color: #D4F6FF;
}
.drusjs-calendar .calendar.complete .calendar-main-inner {
    background-position: right 12px top 8px;
}
.drusjs-calendar .calendar.clear .calendar-main-inner {
    background-position: right 0px top 8px;
}

.drusjs-calendar .calendar.complete .input,
.drusjs-calendar .calendar.complete .dot {
    display: none;
}
.drusjs-calendar .calendar.complete .complete-date {
    display: block;
}

.drusjs-calendar .calendar.complete .clear-button,
.drusjs-calendar .calendar.active.clear .clear-button {
    display: flex;
}


.drusjs-calendar .calendar-action-bar {
    display: none;
    gap: 20px;
    width: 100%;
    height: var(--primary-height);
    align-items: center;
    justify-content: flex-end;
    margin-top: -3px;
    background-color: #F6F6F6;
    padding: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    max-width: calc(var(--primary-width)* 2 + 5px);
}
.drusjs-calendar .calendar-action-bar .reset-changes {
    color: #2879FF;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 19px;
    transition: 260ms ease-in-out;
    pointer-events: auto;
    text-decoration-line: underline;
    text-decoration-color: transparent;
    text-decoration-skip-ink: none;
    cursor: pointer;
}

.drusjs-calendar .calendar-action-bar .accept-changes {
    color: #FFFFFF;
    background-color: #B2B4B4;
    outline: none;
    border: none;
    padding: 0 8px;
    line-height: 30px;
    text-align: center;
    font-size: 19px;
    transition: 260ms ease-in-out;
    pointer-events: none;
    text-decoration-line: underline;
    text-decoration-color: transparent;
    text-decoration-skip-ink: none;
}
.drusjs-calendar .calendar-action-bar.active .accept-changes {
    background-color: #2879FF;
    pointer-events: auto;
    cursor: pointer;
}
.drusjs-calendar .calendar-error-field {
    display: none;
    gap: 8px;
    align-items: flex-start;
    color: #C80000;
    font-size: 19px;
    line-height: 26px;
    margin-top: 8px;
}
.calendar-error-field.active {
    display: flex;
}

.drusjs-calendar .calendar-action-mobile {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 24px;
}
.drusjs-calendar .calendar-action-mobile .button-back, .drusjs-calendar .calendar-action-mobile .button-close {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}
.drusjs-calendar:has(.calendar-select.active) .calendar-action-mobile .button-back, .drusjs-calendar:has(.calendar-select.active) .calendar-action-mobile .button-close {
    display: block;
}
.drusjs-calendar .calendar-top-text {
    font-size: 19px;
    color: #2879FF;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
}

.drusjs-calendar .year-select .calendar-select-dropdown__item:active {
    background-color: #d2d2d2;
}

@media (min-width: 740px) {
    .drusjs-calendar .calendar-select-dropdown__item:hover {
        background-color: #EFF0F0;
    }
    .drusjs-calendar .calendar.complete .clear-button:hover {
        background-color: #2879FF;
    }
    .drusjs-calendar .calendar.complete .clear-button:hover .tooltip {
        opacity: 1;
    }
    .drusjs-calendar .calendar.complete .clear-button:hover path {
        stroke: #FFFFFF;
    }
    .drusjs-calendar .calendar-action-bar .reset-changes:hover {
        text-decoration-color: #2879FF;
    }
}

@media (max-width: 739px) and (min-width: 640px) {
    :root {
        --primary-height: 43px;
        --primary-width: 302px;
        --primary-cell-height: 40px;
    }
    .drusjs-calendar .calendar-main-inner, .drusjs-calendar .clear-button {
        height: 33px;
    }
    .drusjs-calendar .clear-button {
        width: 33px;
    }
    .drusjs-calendar .calendar.complete .calendar-main-inner {
        background-image: none;
    }
    .drusjs-calendar .calendar .calendar-main-inner {
        background-position: right 28px top 4px;
    }
    .drusjs-calendar .calendar.clear .calendar-main-inner {
        background-position: right 0px top 4px;
    }
    .drusjs-calendar .calendar.complete .calendar-main__text {
        font-size: 0px;
    }
    .drusjs-calendar .calendar.from.complete .calendar-main__text::after {
        content: 'ОТ';
        font-size: 19px;
    }
    .drusjs-calendar .calendar.to.complete .calendar-main__text::after {
        content: 'ДО';
        font-size: 19px;
    }
    .drusjs-calendar .year-select .calendar-select-dropdown__item {
        line-height: 21px;
    }
}

@media (max-width: 639px) {
    :root {
        --primary-height: 61px;
        --primary-width: 428px;
    }
    .drusjs-calendar .calendar-main-inner, .drusjs-calendar .clear-button {
        height: 51px;
    }
    .drusjs-calendar .clear-button {
        width: 44px;
    }
    .drusjs-calendar {
        flex-direction: column;
        align-items: center;
    }
    .drusjs-calendar .calendar.complete .calendar-main-inner {
        background-position: right 12px top 13px;
    }
    .drusjs-calendar .calendar.clear .calendar-main-inner {
        background-position: right 0px top 13px;
    }
    .drusjs-calendar .calendar .calendar-main-inner {
        background-position: right 28px top 13px;
    }
    .drusjs-calendar .calendar-action-bar {
        flex-direction: column-reverse;
        padding: 0;
        gap: 10px;
        margin-top: -5px;
        height: auto;
        max-width: 100%;
        position: fixed;
        bottom: 5px;
        z-index: 2;
        max-width: 428px;
        background-color: transparent;
    }
    .drusjs-calendar .calendar-action-mobile {
        max-width: 428px;
    }
    .drusjs-calendar:has(.calendar.active) .calendar:not(.active) {
        display: none;
    }
    .drusjs-calendar .calendar-action-bar .reset-changes {
        border: 1px solid #2961FE;
        background-color: #FFFFFF;
    }
    .drusjs-calendar .calendar-action-bar .reset-changes, .drusjs-calendar .calendar-action-bar .accept-changes {
        width: 100%;
        height: 52px;
    }
    .drusjs-calendar:has(.calendar.active) .calendar-action-mobile {
        display: flex;
    }
    .drusjs-calendar .calendar-select-dropdown {
        max-height: calc(100vh - 370px);
    }
    .drusjs-calendar .calendar-select.month-select.active .calendar-select-dropdown {
        display: grid;
    }
    .month-select .calendar-select-dropdown {
        position: absolute;
        background-color: #FFFFFF;
        width: 100%;
        max-width: var(--primary-width);
        max-height: 305px;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        z-index: 1;
        border: 0.5px solid #969FA8;
        box-sizing: border-box;
        border-top: none;
        top: var(--primary-height);
        display: none;
        grid-template-columns: repeat(4, 1fr);
        padding: 10px;
        gap: 5px;
    }
    .drusjs-calendar .month-select .calendar-select-dropdown__item {
        box-sizing: border-box;
        width: 100%;
        height: var(--primary-height);
        max-height: 51px;
        padding: 10px;   
        border: 0.5px solid #000000;
        color: #000000;
        text-align: center;
        line-height: 29px;
        cursor: pointer;
    }
}

@media (max-width: 549px) {
    
}

@media (max-width: 479px) {
    :root {
        --primary-height: 41px;
        --primary-width: 288px;
        --primary-cell-height: 38px;
    }
    .drusjs-calendar .calendar-main-inner, .drusjs-calendar .clear-button {
        height: 31px;
    }
    .drusjs-calendar .clear-button {
        width: 31px;
    }
    .drusjs-calendar .calendar.complete .calendar-main-inner {
        background-image: none;
    }
    .drusjs-calendar .calendar.clear .calendar-main-inner {
        background-image: none;
    }
    .drusjs-calendar .calendar .calendar-main-inner {
        background-position: right 28px top 3px;
    }
    .drusjs-calendar .calendar.complete .complete-date {
        white-space: nowrap;
    }
    .drusjs-calendar .calendar.complete .calendar-main__text {
        font-size: 0px;
    }
    .drusjs-calendar .calendar.from.complete .calendar-main__text::after {
        content: 'ОТ';
        font-size: 19px;
    }
    .drusjs-calendar .calendar.to.complete .calendar-main__text::after {
        content: 'ДО';
        font-size: 19px;
    }
    .drusjs-calendar .calendar-action-mobile {
        padding-bottom: 10px;
    }
    .drusjs-calendar .calendar-action-bar {        
        max-width: 288px;
    }
    .drusjs-calendar .calendar-action-mobile {
        max-width: 288px;
    }
    .drusjs-calendar .calendar-table-overflow {
        max-height: calc(100vh - 276px);
    }
    .drusjs-calendar .calendar-select-dropdown {
        max-height: calc(100vh - 276px);
    }
    .drusjs-calendar .calendar-action-bar .reset-changes, .drusjs-calendar .calendar-action-bar .accept-changes {
        height: 41px;
    }
    .drusjs-calendar .year-select .calendar-select-dropdown__item {
        line-height: 19px;
    }
}
